body{
    background-image: url(message-square-128.png);
    
}
#q{
     background-color: cadetblue;
    height:40px;
    width:1350px;
}
nav{ 
    float: right;
    right:0px;
    position: absolute;
    top:3px;
  width:650px; 
}
a{
    display: inline-block;
    font-family:Lucida Calligraphy;
    font-size:20;
    color: ghostwhite;
    text-decoration: none;
    text-align: center;
   border-right:1px solid white;
    width:150px;
}
a:hover{
   font-family:Lucida Calligraphy;
    font-size:1.49em;
    color:gold;
}
#gh{
   border-right:1px solid transparent; 
}
#q img{
    float:left;
    left:0px;
    position: absolute;
    top:-76px;
    
}
article{
    height:580px;
    width:1340px;
    background:white;
    border:2px solid green;
    border-radius:20px;
    margin:10px;
    position: absolute;
    top:50px;
}
p{
    text-align: center;
    font-size:30px;
    font-family:Bookman Old Style;
}#f{
    border:1px solid black;
    width:318px;
    height:468px;
    margin:3px;
    display :inline-block;
    border-top-right-radius:10px;
    border-bottom-left-radius: 10px;
    font-size:20px;
}
#p{
    position: fixed;
    top:3px;
}
